@import 'variable';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// CSS properties


// CSS for pages
.app {
    .avt-home-page {
        position: fixed;
        background-image: url(https://wallpapercave.com/wp/wp7154971.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        .brand-name a {
            border: none;
            color: white;
            text-decoration: none;
        }
    }

    .product-page,
    .collection-page,
    .about-page,
    .returns-page,
    .contact-page,
    .cart {
        .main-page {
            margin-top: 66px;
            display: flex;
            padding-top: 20px;
            padding-right: 20px;

            .main-part {
                width: 90%;
                padding-left: 40px;
                margin-left: 100px;

                .header-page {
                    font-weight: 700;
                    border-bottom: 1px solid #e6e6e6;
                }
            }

            .main-properties {
                a {
                    color: black;
                }

                a:hover {
                    color: orange;
                }
            }
        }

        .brand-name {
            border-bottom: 1px solid #e6e6e6;
            position: fixed;
            background-color: white;
            z-index: 2;
        }

        .brand-name a {
            border: none;
            color: black;
            text-decoration: none;
        }

    }

    .collection-page {
        .part-cards {
            padding-top: 20px;

            .card-product {
                font-size: 17px;

                .product-img img {
                    width: 100%;
                }

                .product-name {
                    color: black;
                    text-decoration: none;
                    text-align: center;

                }

                .product-name p {
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                .product-price {
                    font-weight: 700;
                    text-align: center;
                }
            }
        }
    }
}

.brand-name {
    line-height: 56px;
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px 16px;
    margin-bottom: 0px;
}


// main-properties of pages
.main-properties {
    padding-left: 16px;
    width: 100px;
    position: fixed;
    z-index: 2;

    a {
        color: white;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        // transition: 200ms ease-in-out;
    }

    a:hover {
        color: orange;
        // border-bottom-color: white;
        // transform: translate(0, 0);
    }

    li {
        list-style: none;
    }

    .wrapper-menu {
        color: white;

        .side-bar {


            .menu {
                .menu-item {
                    .menu-link {
                        opacity: 0.7;
                    }

                    .menu-link.active {
                        font-weight: 700;
                        opacity: 1;
                    }
                }

                .menu-item.item-shop {

                    .menu-link {
                        opacity: 0.7;
                    }

                    .menu-link.active {
                        font-weight: 700;
                        opacity: 1;
                    }

                    .sub-menu {
                        margin-top: 12px;
                        margin-bottom: 12px;

                        .sub-menu-item {
                            .sub-menu-link {
                                opacity: 0.7;
                            }

                            .sub-menu-link.active {
                                font-weight: 700;
                                opacity: 1;
                            }
                        }



                    }

                    .sub-menu.sub-menu-active {
                        display: block;
                    }

                    .sub-menu.sub-menu-unactive {
                        display: none;
                    }
                }
            }
        }
    }
}

// CSS for collections pages



// CSS for products page 

.product-content {
    .product-img {

        .product-main-img {
            display: flex;
            width: 100%;
            justify-content: center;

            img {
                height: 600px;
            }
        }

        .part-sub-img {
            display: flex;
            flex-direction: column;
            margin-left: 40px;

            .product-sub-img {
                flex: 0 0 20%;
                max-width: 95px;
                max-height: 125px;
                align-self: center;
                border: 1px solid #ccc;
                margin-bottom: 3px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }


    .product-name {
        font-family: 'Font Awesome 6 Free';
        font-size: 23px;
        line-height: 50px;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
    }

    .product-price {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;

        h4 {
            border-bottom: 1px solid #e6e6e6;
            line-height: 50px;
        }

        p {
            font-size: 20px;
            font-style: italic;
        }
    }

    .product-description {
        width: 100%;
        border-top: 1px solid #e6e6e6;
        margin-top: 10px;

        h4 {
            opacity: 1;
            font-size: 24px;
            line-height: 34px;
        }

        p {
            opacity: 0.7;
            font-size: 16px;
        }
    }

    .part-num-product {
        input {
            border: none;
            outline: none;
            padding: 7px 14px;
            margin: 0 !important;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            height: 40px;
            width: 40%;
        }

        button {
            background-color: black;
            color: white;
            border: none;
            outline: none;
            padding: 0 10px;
            height: 40px;
            border-radius: 4px;
        }

        button:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }

}

// * CSS for footer
.footer {
    background-color: rgb(187, 231, 231);
    width: 100%;
    height: 300px;
    margin-top: 100px;
}


// CSS for register 

.main__register {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    min-height: 100px;
    width: 360px;
    padding: 32px 24px;
    background-color: white;
    text-align: center;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form-1 {}

.form__heading {
    margin-bottom: 16px;
    font-size: 24px;
}

.form__subheading {
    font-size: 16px;
    margin-bottom: 30px;
}

.form__group {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    padding: 10px 0;
}

.form__group__label {
    align-self: flex-start;
    margin-bottom: 10px;
    font-weight: 700;
}

.form__group__input {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form__group__input:hover {
    border: 1.5px solid rgb(24, 146, 240);
}

.form__group.invalid .form__group__input {
    border-color: #f33a58;
}

.form__group.invalid .form__group__message {
    color: #f33a58;
}

.form__group__message {}

.form__btn {
    width: 100%;
    height: 36px;
    margin-top: 20px;
    background-color: rgb(36, 162, 240);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.form__btn:hover {
    cursor: pointer;
    background-color: rgb(152, 210, 247);
}

.form__group__message {
    text-align: left;
    font-size: 12px;
    color: red;
}

.message_default {
    text-align: left;
    font-size: 12px;
}