<header class="header">
    <a class="brand-shop" href="/">PT2STREET</a>
    {{#if user.isAuthenticated}}
    <div id="user">
        <a class="user-icon" href="">
            <i class="fas fa-user-circle"></i>
            <p>{{user.user_fullname}}</p>
        </a>
        {{#if user.user_boss}}
        <div class="dropdown-user-menu">
            <div class="props-dropdown-user-menu">
                <i class="fas fa-home"></i><a href="/">Home</a>
            </div>
            <div class="props-dropdown-user-menu">
                <i class="far fa-address-card"></i><a href="">Account Management</a>
            </div>
            <div class="props-dropdown-user-menu">
                <i class="far fa-plus-square"></i><a href="/me/create-product"> &nbsp;Create product</a>
            </div>
            <div class="props-dropdown-user-menu">
                <i class="fas fa-boxes"></i><a href="/me/stored/products">My Products</a>    
            </div>
            <div class="props-dropdown-user-menu">
                <i class="far fa-clipboard"></i></i><a href=""> &nbsp;My Bill</a>    
            </div>
            <div class="props-dropdown-user-menu">
                <i class="fas fa-money-bill-wave"></i><a href="">Revenue</a>     
            </div>
            <form action="/auth/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        {{else}}
        <div class="dropdown-user-menu">
            <div class="props-dropdown-user-menu">
                <i class="far fa-address-card"></i><a href="">Account Management</a>
            </div>
            <div class="props-dropdown-user-menu">
                <i class="fas fa-shipping-fast"></i><a href="">Order Management</a>
            </div>
            <div class="props-dropdown-user-menu">
                <i class="fas fa-shopping-cart"></i><a href="/cart">My Cart</a>    
            </div>
            <form action="/auth/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        {{/if}}
    </div>
    {{else}}
    <a id="login" class="login-link" href="#">
        <i class="fas fa-user-circle"></i>
        <div>
            <p>Login</p>
        </div>
    </a>
    {{/if}}
</header>