<div class="container-login disabled">
    <div class="exit-login">
        <i class="fas fa-times"></i>
    </div>
    <h1>Login</h1>
    <form method="POST" action="/auth/login">
        <div class="txt_field">
            <input name="username" type="text" required>
            <span></span>
            <label >Tên đăng nhập</label>
        </div>
        <div class="txt_field">
            <input name="password" type="password" required>
            <span></span>
            <label >Mật khẩu</label>
        </div>
        <span>{{>messages}}</span>
        <div class="pass">Quên mật khẩu</div>
        <input type="submit" value="Đăng nhập">
        <div class="signup_link">
            Bạn chưa là thành viên? 
            <a href="/register">Đăng kí ngay</a>
        </div>
    </form>
</div>

<script>
    const login_container = document.querySelector('.container-login');
    const login_menu = document.querySelector('#login');
    const icon_exit = document.querySelector('.fas.fa-times');
    if(login_menu){
        login_menu.onclick = function(e) {
            login_container.classList.remove('disabled');
            e.preventDefault();
        };
    }
    if(icon_exit){
        icon_exit.onclick=function(e){
            login_container.classList.add('disabled');
            e.preventDefault();
        };
    }
</script>