<header class="header" style="padding-left:98px;padding-bottom:18px">
    <a class="brand-shop" href="/">
        <img src="https://i.postimg.cc/tTcXjKmw/PT2brand-adj-adobespark-removebg-preview-1.png" alt="PT2STREETWEAR">
    </a>
    {{#if user.isAuthenticated}}
    <div class="content-header">
        <div id="user">
            <a class="icons-header" href="">
                <i class="fas fa-user-circle"></i>
                <p>{{user.user_fullname}}</p>
            </a>
            {{#if user.user_boss}}
            <div class="dropdown-user-menu">
                <div class="props-dropdown-user-menu">
                    <i class="fas fa-home"></i><a href="/">Trang chủ</a>
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="far fa-address-card"></i><a href="/account/information-account/">Quản lý tài khoản</a>
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="far fa-plus-square"></i><a href="/me/create-product">&nbsp;Tạo sản phẩm</a>
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="fas fa-boxes"></i><a href="/me/stored/products">Sản phẩm</a>    
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="far fa-clipboard"></i></i><a href="/me/stored/bills"> &nbsp;Đơn đặt hàng</a>    
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="fas fa-money-bill-wave"></i><a href="">Doanh thu</a>     
                </div>
                <form action="/auth/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
            </div>
            {{else}}
            <div class="dropdown-user-menu">
                <div class="props-dropdown-user-menu">
                    <i class="far fa-address-card"></i><a href="/account/information-account">Quản lý tài khoản</a>
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="fas fa-shipping-fast"></i><a href="/stored/bills">Đơn hàng</a>
                </div>
                <div class="props-dropdown-user-menu">
                    <i class="fas fa-shopping-cart"></i><a href="/cart">Giỏ hàng</a>    
                </div>
                <form action="/auth/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
            </div>
            {{/if}}
        </div>
    </div>
    {{else}}
    <a id="login" class="login-link" href="#">
        <i class="fas fa-user-circle"></i>
        <div>
            <p>Đăng nhập</p>
        </div>
    </a>
    {{/if}}
</header>