<header class="me-header">
    <a href="/" class="brand name">PT2STREET</a>
    <li class="account-me">
        {{!-- <a class="account-name" href="#">
          Duy Phong Nguyen
        </a> --}}
        <div class="account-menu" >
          <a class="account-menu-item" href="/me/create-product">Create</a>
          <a class="account-menu-item" href="/me/stored/products">Your products</a>
          <a class="account-menu-item" href="#">Others</a>
        </div>
    </li>
</header>