<div class="menu-user">
    <div class="wrapper-menu">
        <div class="side-bar">
            <ul class="menu">
                <li class="menu-item">
                    <a class="menu-link active" href=""></a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">ABOUT</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">RETURNS</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">CONTACT</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="">CART</a>
                </li>
            </ul>
        </div>
    </div>
</div>