<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            <h2 class="page-header">
                Về chúng tôi
            </h2>
            <div class="page-content">
                PT2STREET là một thương hiệu thời trang được thành lập vào cuối năm 2021
                <br>
                Với phương châm luôn đặt chất lượng của sản phẩm lên hàng đầu, cũng như độ thoải mái và tính ứng dụng
                cao,từng sản phẩm được đưa ra thị trường là từng tâm huyết,
                <br>
                chất xám và sự hãnh diện của PT2STREET.Mang tinh thần luôn học hỏi, tìm tòi và phát triển đứa con tinh
                thần của mình,PT2STREET tin chắc rằng khi cầm sản phẩm của
                <br>
                PT2STREET trên tay, bạn sẽ không bao giờ thất vọng.
                <br>
                <br>
            <p style="font-weight:700">
                Địa chỉ: Số 1,Võ Văn Ngân, Linh Chiểu, Thủ Đức,TP HCM
                {{username}}
            </p>
            </div>
        </div>
    </div>
     {{>footer}}
</div>