<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part" style=" min-height:200px;">
            <h2 class="page-header">
                GIỎ HÀNG
            </h2>
        </div>
    </div>
    {{>footer}}
</div>