<div class="pages">
    {{>header}}
    <div class="page-main-x">
        <i class="far fa-check-circle"></i>
        <h2>Đặt hàng thành công</h2>
        <div></div>
        <p>Cảm ơn quý khách đã tin tưởng!</p>
        <p>Mã đơn hàng của Quý khách là: {{id_bill}}</p>
        <div style="display:flex;justify-content:center;padding-top:32px">
            <a href="/" class="btn-x btn-strong-blue width-20">Quay lại trang chủ</a>
        </div>
    </div>
     {{>footer}}
</div>