<div class="contact-page">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            <h2 class="header-page">
                Liên hệ
            </h2>
            <p class="content-page">
                SĐT: 0947443064
                <br>
                Địa chỉ: Số 1,Võ Văn Ngân,Thủ Đức,TP HCM
                <br>
                Gmail: phchmessibar326@gmail.com
                <br>
                <br>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4797730491773!2d106.77141781462326!3d10.85106679227095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752774d7e357c3%3A0x7cc744cb226ad64!2zc-G7kSAxIFbDtSBWxINuIE5nw6JuLCBMaW5oIENoaeG7g3UsIFRo4bunIMSQ4bupYywgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1631981592319!5m2!1svi!2s"
                    width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </p>
            </p>
        </div>
    </div>
</div>