<!-- Form Html -->
<div class="pages">
    {{>header}}
    <div class="main-page">
        {{>mainproperties}}
        <div class="main-part">
            {{#if message_success}}
            <div class="flash-message flash-success">
                <i class="fas fa-check-circle"></i>{{message_success}}
                <li id="toast-message-signin">
                    <a href="#">Sign in now</a>
                </li>
            </div>
            {{else}}
            <div class="flash-message" style="display:none;"></div>
            {{/if}}
            {{#if message_error}}
            <div class="flash-message flash-error">
                <i class="fas fa-times-circle"></i>{{message_error}}
            </div>
            {{else}}
            <div class="flash-message" style="display:none;"></div>
            {{/if}}
            <div class="main__register">
                <form action="/register/post-register" method="POST" class="form" id="register_form">
                    <h3 class="form__heading">Customer Registration</h3>
                    <p class="form__subheading">People will stare, make it worth their while.</p>
                    <div class="spacer"></div>
                    <div class="form__group">
                        <label for="fullname" class="form__group__label">Full name</label>
                        <input id="fullname" name="fullname" rules="required" type="text" class="form__group__input"
                            placeholder="VD: Duy Phong">
                        <span class="form__group__message"></span>
                    </div>

                    <div class="form__group">
                        <label for="username" class="form__group__label">Username</label>
                        <input id="username" name="username" rules="required" type="text" class="form__group__input"
                            placeholder="VD: duyphongnguyen">
                        <span class="form__group__message"></span>
                    </div>


                    <div class="form__group">
                        <label for="password" class="form__group__label">Password</label>
                        <input id="password" name="password" rules="required" type="password" class="form__group__input"
                            placeholder="Nhập mật khẩu">
                        <span class="message_default"></span>
                        <span class="form__group__message"></span>
                    </div>

                    <div class="form__group">
                        <label for="repass" class="form__group__label">Re-Password</label>
                        <input id="repass" name="repass" rules="required|repass" type="password" class="form__group__input"
                            placeholder="Nhập lại mật khẩu">
                        <span class="form__group__message"></span>
                    </div>

                    <div class="form__group">
                        <label for="email" class="form__group__label">Email</label>
                        <input id="email" name="email" rules="required|email" type="email" class="form__group__input"
                            placeholder="VD: phchmessibar326@gmail.com">
                        <span class="form__group__message"></span>
                    </div>

                    <div class="form__group">
                        <label for="phone" class="form__group__label">Phone</label>
                        <input id="phone" name="phone" rules="required" type="text" class="form__group__input"
                            placeholder="VD: 0947443064">
                        <span class="form__group__message"></span>
                    </div>

                    <div class="form__group">
                        <label for="address" class="form__group__label">Address</label>
                        <input id="address" name="address" rules="required" type="text" class="form__group__input"
                            placeholder="VD: San z1, TP Quang Ngai">
                        <span class="form__group__message"></span>
                    </div>
                    <button type="submit" class="form__btn">Register</button>
                </form>
            </div>
        </div>
    </div>
    {{>footer}}
</div>
<script>
    // show login-modal from toast-message
    const sign_in = document.querySelector('#toast-message-signin');
    if(sign_in){
        sign_in.onclick = function(e) {
            login_container.classList.remove('disabled');
            e.preventDefault();
        };
    }
</script>
<!-- Validator -->
<script>
    // validate form
    var registerBtn = document.querySelector('.form__btn');
    Validator('#register_form', {});
    function Validator(selector, options) {
        if (!options) {
            options = {};
        }
        // lay the cha
        function getParent(element, parent_name) {
            while (element.parentElement) {
                if (element.parentElement.matches(parent_name)) {
                    return element.parentElement;
                }
                element = element.parentElement;
            }
        };

        var formRules = {};
        var validateRules = {
            required: function (value) {
                return value ? undefined : 'Please provide information';
            },
            email: function (value) {
                // ? phuong thuc test() dung de kiem tra xem trong mot chuoi co chua chuoi con khop voi mo hinh chuoi hay khong
                // todo: regex.test(_string)
                var regex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return regex.test(value) ? undefined : 'Your email is incorrect';
            },
            strongPass: function (value) {
                var passStrong = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{7,99}$/;
                return passStrong.test(value) ? undefined : 'Your password is not strong enough, please re-enter your password';
            },
            repass: function (value) {
                var pass_value = document.querySelector('#register_form #pass');
                return value === pass_value.value ? undefined : 'The password does not match, please re-enter';
            }
        }

        var formElement = document.querySelector(selector);
        if (formElement) {
            var inputElements = formElement.querySelectorAll('[name][rules]');
            for (var input of inputElements) {
                // su dung getAttribute voi cac attribute tu dinh nghia
                var rules = input.getAttribute('rules').split('|');
                for (var rule of rules) {
                    if (Array.isArray(formRules[input.name])) {
                        formRules[input.name].push(validateRules[rule]);
                    } else {
                        formRules[input.name] = [validateRules[rule]];
                    }
                }
                input.onblur = validate;
                input.oninput = function (event) {
                    var ParentOfSpan = getParent(event.target, '.form__group');
                    var tagSpan = ParentOfSpan.querySelector('.form__group__message');
                    tagSpan.innerText = ``;
                    ParentOfSpan.classList.remove('invalid');
                };
            }
            // ham thuc hien validate
            function validate(event) {
                var input_rules = formRules[event.target.name];
                var messageError;
                for (var rule of input_rules) {
                    messageError = rule(event.target.value);
                    if (messageError) break;
                }
                if (messageError) {
                    var ParentOfSpan = getParent(event.target, '.form__group');
                    var tagSpan = ParentOfSpan.querySelector('.form__group__message');
                    if (tagSpan) {
                        tagSpan.innerText = messageError;
                        ParentOfSpan.classList.add('invalid');
                    } else {
                        tagSpan.innerText = ``;
                        ParentOfSpan.classList.remove('invalid');
                    }
                }
                return !messageError;
            };
        };
        // xu li validate khi submit form
        formElement.onsubmit = function (e) {
            var inputElements = formElement.querySelectorAll('[name][rules]');
            var isNotValid = true; // bien kiem tra xem co input nao bi validate khong
            for (var input of inputElements) {
                if (!validate({ target: input })) {
                    isNotValid = false;
                }
                validate({ target: input });
            }
            if (!isNotValid) {
                e.preventDefault();
            }
        };
    };
</script>

